.Home {
  display: grid;
  grid-template-columns: 1fr 300px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  gap: 18px;
}

@media (max-width: 999px) {
  .Home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
}