.ItemShop {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: #222529;
  margin-bottom: 2.4rem;
}

.item-shop-image {
  min-width: 39%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-out;
}

.item-shop-image img {
  width: 100%;
}
