.ItemChallenge {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vh;
  min-height: 100vh;
  width: 100%;
}

.item-challenge-container {
  margin: 12px;
  padding: 12px;
  background: #222529;
  width: 100%;

  .info-header {
    border-bottom: 1px solid white;

    h3 {
      font-size: 2.4rem;
    }
  }
}

.info-content {
  width: 100%;
  display: flex;
  flex-direction: column;

  .info-quests-content {
    display: flex;
    flex-direction: column;

    .info-quest {
      display: flex;
      align-items: center;
      row-gap: 24px;
      column-gap: 18px;
      justify-content: space-between;
      padding: 0 12px;
    }
  }

  h4 {
    color: #ffff99;
  }

  h5,
  p {
    font-size: 16px;
    color: #ffffff;
  }
}

.img-container {
  max-width: 140px;
}

img {
  width: 100%;
}

@media (max-width: 999px) {
  .item-challenge-container {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .info-quests-content {
    align-items: center;
  }

  .info-quest {
    flex-direction: column;
  }
}
